rollup/builder
rollup/test
node_modules
package-lock.json
npm-debug.log
prepa
private
src/_physx
src/_havok
src/3TH/_smoke
build/old
assets/animation/animations.json
assets/animation/fbx
assets/textures/avatar_2k
assets/textures/avatar_4k
*.sh
desktop.ini