rollup/builder
rollup/test
node_modules
package-lock.json
npm-debug.log
prepa
private
src/_physx
src/_havok
src/motor_old
build/old
assets/models/private
assets/models/avatar/old
assets/animation/animations.json
assets/animation/fbx
assets/textures/avatar_4k
demos/private
*.sh
desktop.ini