@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap");


html{
font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
font-feature-settings:normal
}
body{background-color:#000; margin:0; padding:0; overflow:hidden;}




.menu {
	box-sizing: border-box
	flex:1; 
	pointer-events:auto; 
	cursor: pointer;
	padding: 2px 0px;
	text-underline-offset: 6px;
}

.down {
	box-sizing: border-box
	flex: 0 0 0;
	width:auto;
	pointer-events:auto; 
	cursor: pointer;
	padding: 4px 0px;
	white-space: nowrap;
	text-underline-offset: 6px;
	//align-self: flex-start;
	//border: solid 1px black;
}
